p{
    text-align: center;
    background: #CCCCCC;
}

body {
    background: #CCCCCC;
}

em strong {
    color: red;
}
h2{
    text-align: center;
    background: #555555;
}

#mision{
     font-size: 20 px; 
     text-align: center;
}
p{
    text-align: center;
}

#ban{	
    width: 100%;

}

.item{
    font-style: italic;

}

.diferencial {
background: #FFFFFF;
padding: 30px;
}

.main {
    font-size: 10px;
    padding: 20px;
}

.img_difer {
    width: 50%;
}

.ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.titulo-centro{
    text-align: center;
}

.titulo-principal{
    padding-left: 30px;
}