p{
    text-align: center;
    background: #CCCCCC;
}

body {
    background: #CCCCCC;
}

em strong {
    color: red;
}
h1{
    text-align: center;
    background: #555555;
}

#mision{
     font-size: 20 px; 
     text-align: center;
}
p{
    text-align: center;
}

#ban{	
    width: 100%;
    
}
